*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #E8F5E9;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.6;
	color: #212121;
}

a{
	text-decoration: none;
	color: white;
}
/* header */
.logo{
	font-size: 1.8rem;
	color: #000;
}
.logo span{
	color: blue;
}
.header{
	background: #ffff;
	padding-left: 1rem;
}
/* navbar */
.nav button{
	padding: 3px 10px;
	background-color: #BBDEFB;
	border-radius: 20px;
	font-size: 15px;
}
.nav button:hover{
	background-color: yellow;
	/* color: white; */
}
.nav{
	padding:0rem 1rem;
	padding-bottom: 1rem;
	background-color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: blue 1px solid;
}
ul{
	list-style: none;
}
.nav ul{
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
}
.nav a{
	color: rgb(0, 0, 0);
}
.nav a:hover{
	color: yellow;
}

/* footer */
footer{
	background-color: #1565C0;
	padding: 30px;
	color: white;
}
.footer{
	display: flex;
	flex-direction: row;
	gap: 2rem;
}
footer h3{
	font-size: 1rem;
}
footer p,footer li{
	font-size: 0.8rem;
}